@import "auth.css";
@import "account.css";
@import "chunk.css";
@import "icons.css";
@import "entity.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("../fonts/zh-cn.ttf");
  font-family: "default";
}

@layer base {
  button {
    @apply outline-none;
  }
}

@layer components {
  .pixelated-rendering {
    image-rendering: pixelated;
  }
}
